@import './reset.css';

/* header.css */
header {
  position: fixed;   /* 화면 상단에 고정 */
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.7); /* 반투명 배경 */
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; /* 섹션 위에 나오게 */
}

header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header ul li a {
  color: white;
  text-decoration: none;
}

header ul li a:hover {
  text-decoration: underline;
}

/* footer.css */
